





<div class="container-fluid news-grid">
  <div class="row">
    
    
    <div class="news-card col-xs-12 col-md-6" style="    background-image: url(' photo-1453060113865-968cea1ad53a.jpg ');">
<a href="#" class="">
    <div class="overlay"></div>
      <div class="meta-post">
        <h1>Future of the Earth</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a lorem in purus luctus fringilla sollicitudin vitae nibh. In augue mi amet.</p>
        <p class="info">1 week ago</p>
      </div>
</a>
    </div>



    
    
    <div class="news-card col-xs-12 col-md-6" style="    background-image: url(' photo-1453060113865-968cea1ad53a.jpg ');">
<a href="#" class="">
    <div class="overlay"></div>
      <div class="meta-post">
        <h1>Future of the Earth</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a lorem in purus luctus fringilla sollicitudin vitae nibh. In augue mi amet.</p>
        <p class="info">1 week ago</p>
      </div>
</a>
    </div>


    
    
    <div class="news-card col-xs-12 col-md-6" style="    background-image: url(' photo-1453060113865-968cea1ad53a.jpg ');">
<a href="#" class="">
    <div class="overlay"></div>
      <div class="meta-post">
        <h1>Future of the Earth</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a lorem in purus luctus fringilla sollicitudin vitae nibh. In augue mi amet.</p>
        <p class="info">1 week ago</p>
      </div>
</a>
    </div>



    
    
    <div class="news-card col-xs-12 col-md-6" style="    background-image: url(' photo-1453060113865-968cea1ad53a.jpg ');">
<a href="#" class="">
    <div class="overlay"></div>
      <div class="meta-post">
        <h1>Future of the Earth</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a lorem in purus luctus fringilla sollicitudin vitae nibh. In augue mi amet.</p>
        <p class="info">1 week ago</p>
      </div>
</a>
    </div>


<div class="col-xs-12 col-md-12">


<a href="" class="btn btn-readmore btn-block">Load More</a>

</div>

  </div>
</div>
    






